body {
  background-color: rgb(255, 255, 255);
  animation-name: colorchange;
  animation-duration: 11s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes colorchange {
  0% {
    background-color: rgb(245, 169, 169);
  }
  5% {
    background-color: rgb(248, 133, 133);
  }
  10% {
    background-color: rgb(250, 78, 78);
  }
  15% {
    background-color: rgb(245, 11, 11);
  }
  20% {
    background-color: rgb(245, 60, 4);
  }
  25% {
    background-color: rgb(240, 143, 53);
  }
  30% {
    background-color: rgb(235, 169, 46);
  }
  35% {
    background-color: rgb(231, 240, 108);
  }
  40% {
    background-color: rgb(201, 245, 4);
  }
  45% {
    background-color: rgb(164, 243, 73);
  }
  50% {
    background-color: rgb(4, 245, 185);
  }
  55% {
    background-color: rgb(4, 229, 245);
  }
  60% {
    background-color: rgb(4, 108, 245);
  }
  65% {
    background-color: rgb(4, 60, 245);
  }
  70% {
    background-color: rgb(108, 4, 245);
  }
  75% {
    background-color: rgb(129, 4, 245);
  }
  80% {
    background-color: rgb(225, 4, 245);
  }
  85% {
    background-color: rgb(245, 4, 205);
  }
  90% {
    background-color: rgb(245, 4, 96);
  }
  95% {
    background-color: rgb(245, 4, 124);
  }
  100% {
    background-color: rgb(245, 4, 4);
  }
}
